body {
	background: #141414;
	color: #ffffff;
}


.image-container {
	position: relative;
	transition: transform 0.2s;
	margin: 0 auto;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	color: beige;
	bottom: 0;
	height: 10%;
	width: 90%;
	opacity: 0;
	transition: .5s ease;
	background: rgba(0, 0, 0, 0.8);
	font-size: 20px;
	padding: 20px;
}

.headerTxtLogo{
	color: yellow;
}
  
.footerTxt{
	font-size: 15px;
	text-align: center;
	font-weight: 400;
	margin: 20px;
}
  
.footerBG{
	background: #000000;
	color: #FFFFFF;
	padding: 10px;
  
}
